body{
  text-align: center;
  margin: 0;
  background-color: #ffdddd;
  font-family: 'Merriweather', serif;
}
a {
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: white;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 1rem;
  width: 10%;
  color: white;
  margin: 100px auto 100px auto;
}
h1{
  color:darkblue;
  margin: 10px auto 0 auto;
  font-family: 'Miss Fajardose', cursive;
  font-weight: 200;
  font-size: 6.333rem;
}
.webdev{

  color: darkblue;
  font-family: 'Montserrat', sans-serif;
  font-weight:200;
  font-size: 2.25rem;
  line-height: normal;
  margin: 0;
}

h2{
  color: darkblue;
}
h3{
color: darkblue;
}
.topCloud{
position: relative;
left: 200px;
top: 40px;
  width: 30%;

}
.bottomCloud{
  position: absolute;
  left: 200px;

  width: 30%;
}
.multilayerCloud {
  width: 100%;
  margin-bottom: 0;
  vertical-align: bottom;
}

.heading {
    background-color: green;

    text-align: center;


}
.top-container{
    background-color: #c9e5ff;
    position: relative;
    }

.middle-container{
  line-height: 2;


}

.profileImage {
  width: 20%;
}
.skill-row{
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.firstgif{
width: 20%;
float: left;
margin-right: 20px;
}
.secondgif{
width: 20%;
float: right;
margin-left: 20px;

}
.contact-me{
  line-height: 2;
  padding-bottom: 40px;
}
.contactme{
  width: 40%;
  margin: 40px auto 40px auto;
}

.intro{
width: 40%;
margin: auto;
}

.btn {
  background: #1074cc;
  background-image: -webkit-linear-gradient(top, #1074cc, #5e5f75);
  background-image: -moz-linear-gradient(top, #1074cc, #5e5f75);
  background-image: -ms-linear-gradient(top, #1074cc, #5e5f75);
  background-image: -o-linear-gradient(top, #1074cc, #5e5f75);
  background-image: linear-gradient(to bottom, #1074cc, #5e5f75);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #c9e5ff;
  background-image: -webkit-linear-gradient(top, #c9e5ff, #ffdddd);
  background-image: -moz-linear-gradient(top, #c9e5ff, #ffdddd);
  background-image: -ms-linear-gradient(top, #c9e5ff, #ffdddd);
  background-image: -o-linear-gradient(top, #c9e5ff, #ffdddd);
  background-image: linear-gradient(to bottom, #c9e5ff, #ffdddd);
  text-decoration: none;
}

footer {
padding: 50px 0 40px;
background-color: #c3def7;


}
.footer-link{
  color: #11999E;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.76rem;
  padding: 20px 0 5px;
}
